*.kicad_pcb-bak
*.fsxview
*.ses
Badge_fw/Debug/
Badge_hw/Badge.dsn
*.gbl
*.gbs
*.gbo
*.gm1
*.gtl
*.gts
*.gto
*.drl
Badge_fw/.settings/language.settings.xml
Badge_hw/Badge.csv
Badge_hw/_saved_Badge.sch
Badge_fw/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Case/CNC/PcbHolder.g
